# 모든 파일은 컨텍스트 형태로 실행된다
# 그 도커 컨텍스트에서 무시할 것들. 

# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# 이거까지 하고 docker build .했음
# 이미지 구축하는 것임.
# app폴더가 없으면 에러남